<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand element">Dustin Cintron</h3>
    <nav class="nav nav-masthead navbar-collapse justify-content-center app-nav txt-shadow">
			<%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</header>