<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">        
  <div class="col-md-6 px-0">
    <h1 class="font-italic new-header">My Blog</h1>
    <p class="new-header-sub">An example blog template built using Bootstrap.  Simplicity is perfection.</p>
  </div>
</div>