<header class="masthead mb-auto">
  <div class="inner">    
    <nav class="nav nav-masthead justify-content-center blog-nav">      
      <span class="nav-brand">
        <%= link_to 'Dustin Cintron', root_path, class: 'navbar-brand' %>
      </span>
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</header>