<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">This moment in time</h4>
          <p class="text-muted">
            Reading and writing code are two of my greatest passions.<br>
            
            I am excellent at typing, being bilingual (English and Spanish), lifting heavy things, and PROGRAMMING!<br>

            I also possess knowledge of nutrition and healthy living from my time spent at college.<br>

            Lastly, I am a member of the Institute of Hermetic Philosophy; an international organization centered on the exploration and elevation of human consciousness, to improve the life of the individual and, by extension, those around him or her.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Explore</h4>
          <ul class="list-unstyled">
            <%= nav_helper 'text-white', 'li' %>
            <li><%= login_helper 'text-white' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <%= link_to "Dustin Cintron", root_path, class: "navbar-brand d-flex align-items-center" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>