<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">An example portfolio template built using Bootstrap.<br> This grid layout is a fantastic way to organize and showcase your portfolio content.  Presentation is key!</p>
    <p>
      <%= link_to "About The Author", about_me_path, class: 'btn btn-primary' %>
      <%= link_to "My Blog", blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>