<h1 class="my-fix">About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "Me.jpg", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
		<p id="my-p-fix">
			<br>
			I am a proud father, a New York City native, and an enthusiastic student of Devcamp and Bottega.  I'm working hard to achieve my goals and learn more and more about Ruby on Rails development every day.<br>
			<br>
			May my efforts be reflected in my work.
		</p>
	</div>
</div>