<h1 class="my-fix">About me</h1>

<br>

<p id="my-p-fix">My name is Dustin Cintron.  I am a 30 year-old father of one, and I was born and raised in New York City which is where I currently reside.  I am also a student at Bottega and DevCamp. What brought me here was a desire to learn the art and science of software coding and development.  I am fortunate enough to have begun this education, for I am deeply enjoying the process of creating and designing applications.</p>