<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<%= image_tag "Me.jpg", width: 225, alt: "Profile Image", class: 'profile-img' %>				
			</div>

			<div class="col-md-9">				
				<p class="align-left">
					<br>
					I am a proud father, a New York City native, and an alumni of Devcamp at Bottega.
					<hr>
					As a student I was taught the fundamentals of HTML, CSS and JavaScript.  I also learned Ruby on Rails, which is what I used to build this application.
					<br>
					My current and favorite tech-stack is MERN (MongoDB, ExpressJS, ReactJS, NodeJS).  Professionally I build software utilizing ReactJS and React-Native, and I recently completed Eloquent JavaScript by Marijn Haverbeke to deepen my knowledge of foundational JavaScript.
					<br>
					May my efforts be reflected in this work.
				</p>

				<p id="collapse-buttons" class="align-center">
					<button
						class="btn btn-primary about-btn"
						type="button"
						data-toggle="collapse"
						data-target="#jobHistory"
						aria-expanded="false"
						aria-controller="jobHistory"
					>
						Work History
					</button>

					<button
						class="btn btn-primary about-btn"
						type="button"
						data-toggle="collapse"
						data-target="#education"
						aria-expanded="false"
						aria-controller="education"
					>
						Education
					</button>

					<button
						class="btn btn-primary about-btn"
						type="button"
						data-toggle="collapse"
						data-target="#personal"
						aria-expanded="false"
						aria-controller="personal"
					>
						Disciplines
					</button>
				</p>

				<p>
					<div class="collapse" id="jobHistory">
						<div class="card card-block align-left">
							<span><b>React Native Developer at Blueliner Marketing, LLC.</b> <i>Jan 2020-June 2020</i></span>
							<span class="about-descrip">
								<i>Techs used: React-Native, Context API.</i><br>
								<ul>
									<li>Implemented a music player feature in their high-priority app by importing an array of songs, writing an algorithm that allows the user to cycling to-and-from songs, and using Reacts useEffect hook to enable it</li>
									<li>Performed thorough QA on two mobile apps, testing new features for bugs and edge cases</li>
									<li>Styled various component screens by importing new fonts, setting aesthetically-pleasing color schemes, and adjusting the DOM</li>
								</ul>
							</span>
						</div>

						<div class="card card-block align-left">
							<span><b>Freight Unload Team / Receiving Dept Associate at The Home Depot</b> <i>Aug 2019-Current</i></span>
							<span class="about-descrip">
								<ul>
									<li>When Covid started, my Home Depot store received more customer orders than the team could handle.  For months I went to work 6-8 hours early, volunteered on their team and helped them gather all the supplies customers needed</li>
									<li>I lead the Freight Unload team in stretch routines that I developed and practice personally, for injury prevention on the job</li>
									<li>I spend my downtime at work manually reorganizing entire truckloads of wooden pallets and discarded cardboard that the store ships out for credit.  I consolidate space to maximize the amount of credit the store receives</li>
								</ul>
							</span>
						</div>

						<div class="card card-block align-left">
							<span><b>Driver Partner at Uber</b> <i>May 2018-March 2019</i></span>
							<span class="about-descrip">
								<ul>
									<li>I learned to set and adhere to weekly goals and drove many hours early morning and late night to achieve and exceed quotas</li>
									<li>Positioned myself at busy locations throughout NYC to meet the customer demand ahead of time</li>
									<li>Maintained my vehicle weekly to keep it clean and safe, and kept a supply of tissues, candies and water bottles for customer satisfaction</li>
								</ul>
							</span>
						</div>
											
						<div class="card card-block align-left">
							<span><b>Patient Transporter at BronxCare Hospital</b> <i>Feb 2008-April 2018</i></span>
							<span class="about-descrip">
								<ul>
									<li>Spent a lot of time as an unofficial liaison between medical staff and patients who were fearful and distrustful of doctors and nurse, by talking to them(the patient), listening to them and relating to them on a personal level while alleviating their fears of particular procedures and exams</li>
									<li>During my downtime I cleaned the hospitals stretchers and wheelchairs to uphold infection control policy and make sure patients were using properly-sanitized equipment</li>
									<li>Took on mentorship roles and trained a number of newer transporters in safety and protocol</li>
								</ul>
							</span>
						</div>
					</div>

					<div class="collapse" id="education">
						<div class="card card-block align-left">
							<span><b>Bottega Coding Bootcamp - DevCamp</b> <i>2018-2019</i></span>
							<span class="about-descrip">
								<span style="color:green">
									Certificate of Competency - Full Stack Web Engineering.
								</span>
								<br>
								An accredited institution for learning to code.<br>
								Built a number of professional projects, including a Ruby on Rails Portfolio app, an enterprise-level Ruby on Rails Overtime app, and an app for Freelancers written in TypeScript and Angular 2. <br> Each project utilizes a variety of advanced functionality designed to deliver a sleek, user-friendly experience. <br>
								Skills I learned throughout the course include, but are not limited to:
								<ul>
									<li>Ruby On Rails</li>
									<li>HTML5 and CSS/SCSS</li>
									<li>JavaScript and TypeScript</li>
									<li>Angular 2</li>
									<li>PostgreSQL databases</li>
									<li>Git version control</li>
									<li>Production deployment</li>
								</ul>
							</span>
						</div>	

						<div class="card card-block align-left">
							<span><b>CUNY Lehman College</b> <i>2015-2017</i></span>
							<span class="about-descrip">
								Maintained an above-average GPA while pursuing a Bachelor's in Health Education and Promotion.
								<ul>
									<li>Health Counseling</li>
									<li>Statistical Computation</li>
									<li>Research Methods and Epidemiology</li>
								</ul>
							</span>
						</div>

						<div class="card card-block align-left">
							<span><b>CUNY Bronx Community College</b> <i>2012-2015</i></span>
							<span class="about-descrip">
								<span style="color:green">
									Associate's Degree in Dietetics and Nutrition Science.
								</span>					
								<ul>
									<li>Food Science</li>
									<li>Anatomy and Physiology</li>
									<li>Disease Prevention</li>
								</ul>
							</span>
						</div>
					</div>

					<div class="collapse" id="personal">						
						<div class="card card-block align-left">							
							Writing Code								
						</div>
					</div>
					<div class="collapse" id="personal">
						<div class="card card-block align-left">
							Daily Meditation
						</div>
					</div>
					<div class="collapse" id="personal">
						<div class="card card-block align-left">
							Reading and Studying
						</div>
					</div>
					<div class="collapse" id="personal">
						<div class="card card-block align-left">
							Fitness and Kickboxing
						</div>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>