<style>
#title {
	text-align: center;
}

#paragraph {
	font-size: 1.15rem;
}
</style>

<h1 id="title">About me</h1>

<br>

<p id="paragraph">My name is Dustin Cintron. I am a student of Bottega, learning the art and science of software development and computer coding.  I am fortunate enough to have begun this education, for I am deeply enjoying the process of learning how to create applications and learn the inner workings of program language.  I am a 30 year-old father of one, and I was born and raised in New York City which is where I currently reside.</p>