<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<%= image_tag "Me.jpg", width: 225, alt: "Profile Image", class: 'profile-img' %>				
			</div>

			<div class="col-md-9">				
				<p class="align-left">
					<br>
					I am a proud father, a New York City native, and an alumni of Devcamp at Bottega.  I work hard every single day learning new coding languages, technologies, and algorithms to sharpen my skills as a software engineer.
					<hr>
					My passion is Full-Stack engineering.  I love the flexibility of coding from client-side to server-side, and the various challenges that brings.  I began with Ruby on Rails, and currently I am working with React, React-Native and MERN-stack engineering.
					<br>
					May my efforts be reflected in this work.
				</p>

				<p id="collapse-buttons" class="align-left">
					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#jobHistory"
						aria-expanded="false"
						aria-controller="jobHistory"
					>
						Job History
					</button>

					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#education"
						aria-expanded="false"
						aria-controller="education"
					>
						Education Experience
					</button>

					<button
						class="btn btn-primary"
						type="button"
						data-toggle="collapse"
						data-target="#personal"
						aria-expanded="false"
						aria-controller="personal"
					>
						Hobbies and Disciplines
					</button>
				</p>

				<p>
					<div class="collapse" id="jobHistory">
						<div class="card card-block align-left">
							<span><b>Junior Developer at Blueliner Marketing, LLC.</b> <i>Jan 2020-Current</i></span>
							<span class="about-descrip">
								I am a part of a small team of developers working for a start-up company that develops children's toys and games as well as mobile applications.  As the Junior Dev I assist in QA, bug-reporting and fixing, data analytics, front-end styling and fixing, device-responsiveness and feature implementation.<br>
								I am primarily developing in React-Native.<br>
								<i>I have learned:</i>
								<ul>
									<ul>Mobile Development</ul>
									<ul>React-Native libraries</ul>
									<ul>The differences between functional and class components</ul>
									<ul>Reading and parsing documentation</ul>
									<ul>Overcoming imposter syndrome</ul>
								</ul>
							</span>
						</div>

						<div class="card card-block align-left">
							<span><b>Freight Associate at The Home Depot</b> <i>Aug 2019-Current</i></span>
							<span class="about-descrip">
								At the Home Depot I began working as part of the night-shift Unloading team, unloading trucks full of thousands of pounds of freight.  However, through my effort, initiative and dedication I now work throughout the store in a number of departments as needed, including Receiving, Order Fulfillment, Pack-Out and Inbound Freight.<br>
								<i>I have learned:</i>
								<ul>
									<ul>Tackle large tasks methodically and incrementally</ul>
									<ul>Preparedness and safety</ul>
									<ul>Proper work ethic opens doors to new opportunities</ul>
								</ul>
							</span>
						</div>

						<div class="card card-block align-left">
							<span><b>Driver Partner at Uber</b> <i>May 2018-March 2019</i></span>
							<span class="about-descrip">
								Picking up clients and transporting them safely from one place to another.  I woke before everyone else to position at dense areas for greater clientele.  I also established weekly and monthly quotas, and consistently adhered to my self-made schedule.<br>
								<i>I have learned:</i>
								<ul>
									<ul>Set and adhere to weekly goals</ul>
									<ul>Customer service is paramount</ul>
									<ul>Self-start and maintain drive and motivation</ul>
								</ul>
							</span>
						</div>
											
						<div class="card card-block align-left">
							<span><b>Patient Transporter at BronxCare Hospital</b> <i>Feb 2008-April 2018</i></span>
							<span class="about-descrip">
								Transporting patients to and from treatment areas and operating rooms, and lifting and assisting patients who are impaired, often in critical condition.  I was responsible for training new employees and improving the hospital's Flow of Transportation (increasing the hospital's patient satisfaction ratings).<br>
								<i>I have learned:</i>
								<ul>
									<ul>Collaborate with others, listen and provide input</ul>
									<ul>Follow instructions and be detail-oriented</ul>
									<ul>Guide and lead newer members of the team</ul>
								</ul>
							</span>
						</div>
					</div>

					<div class="collapse" id="education">
						<div class="card card-block align-left">
							<span><b>Bottega Coding Bootcamp - DevCamp</b> <i>2018-2019</i></span>
							<span class="about-descrip">
								<span style="color:green">
									Certificate of Competency - Full Stack Web Engineering.
								</span>
								<br>
								An accredited institution for learning to code.<br>
								Built a number of professional projects, including a Ruby on Rails Portfolio app, an enterprise-level Ruby on Rails Overtime app, and an app for Freelancers written in TypeScript and Angular 2. <br> Each project utilizes a variety of advanced functionality designed to deliver a sleek, user-friendly experience. <br>
								Skills I learned throughout the course include, but are not limited to:
								<ul>
									<li>Ruby On Rails</li>
									<li>HTML5 and CSS/SCSS</li>
									<li>JavaScript and ReactJs</li>
									<li>TypeScript</li>
									<li>Angular 2</li>
									<li>PostgreSQL databases</li>
									<li>Git version control</li>
								</ul>
							</span>
						</div>	

						<div class="card card-block align-left">
							<span><b>CUNY Lehman College</b> <i>2015-2017</i></span>
							<span class="about-descrip">
								Maintained an above-average GPA while pursuing a Bachelor's in Health Education and Promotion.
								<ul>
									<li>Health Counseling</li>
									<li>Statistical Computation</li>
									<li>Research Methods and Epidemiology</li>
								</ul>
							</span>
						</div>

						<div class="card card-block align-left">
							<span><b>CUNY Bronx Community College</b> <i>2012-2015</i></span>
							<span class="about-descrip">
								<span style="color:green">
									Associate's Degree in Dietetics and Nutrition Science.
								</span>					
								<ul>
									<li>Food Science</li>
									<li>Anatomy and Physiology</li>
									<li>Disease Prevention</li>
								</ul>
							</span>
						</div>
					</div>

					<div class="collapse" id="personal">						
						<div class="card card-block align-left">							
							Writing Code								
						</div>
					</div>
					<div class="collapse" id="personal">
						<div class="card card-block align-left">
							Reading and Writing
						</div>
					</div>
					<div class="collapse" id="personal">
						<div class="card card-block align-left">
							Fitness and Kickboxing
						</div>
					</div>
					<div class="collapse" id="personal">
						<div class="card card-block align-left">
							Daily Meditation
						</div>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>