<h1 class="my-fix">I am:</h1>

<br>

<p id="my-p-fix">
	I am a man committed to self-improvement, a proud father of one, a native New Yorker, and a student of Bottega and DevCamp. I am propelled by the desire to learn the science of software coding and development. I am fortunate to have begun this education, and I am deeply enjoying this process. <br> I am Dustin Cintron, and I hope you enjoy my application!
</p>