<main role="main" class="inner cover">
	<div class="txt-shadow">
	  <h1 class="cover-heading">Welcome!</h1>
	  <p class="lead">
	  	This application is my portfolio project as well as the beginning of my journey to become a professional software developer.  Currently, I am a Junior Developer at Blueliner Marketing, LLC., who spends his free time building side projects and studying core concepts and best practices.<br>
	  	Please enjoy!
	  </p>
	</div>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary hvr-pop" %>    
  </p>
</main>