<main role="main" class="inner cover">
	<div class="txt-shadow">
	  <h1 class="cover-heading">Welcome!</h1>
	  <p class="lead">
	  	This application is my portfolio project and my entry to software development.
			While this project itself was created with Ruby on Rails, I am a React Developer.
			Currently, I am targeting opportunities working with React, React-Native, Redux, Express and Node.
			I also spend my free time doing freelance work and building my own projects.<br>
	  	Please enjoy!
	  </p>
	</div>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary hvr-pop" %>    
  </p>
</main>