<main role="main" class="inner cover">
	<div class="txt-shadow">
	  <h1 class="cover-heading">Welcome!</h1>
	  <p class="lead">
	  	This application is both my portfolio project and my entry to professional software development.  I am currently a Junior Developer at Blueliner Marketing LLC., working on robust mobile apps with React-Native.  I also spend time doing freelance work, building side projects while staying current on the latest technologies.<br>
	  	Please enjoy!
	  </p>
	</div>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary hvr-pop" %>    
  </p>
</main>